@font-face {
  font-family: ramus;
  src: url(ramus-font/RamusMedium-ALX07.ttf);
}
@font-face {
  font-family: caghen;
  src: url(caghen-serif-font-1669857632-0/caghen-demo.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
}
/* nav sec */
header {
  width: 100%;
  /* height: 70px; */
  background: #242635;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.64);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5000;
}
header .logo {
  color: white;
  font-family: caghen;
  font-size: 38px;
  padding: 8px 0 8px 5px;
}
header .logo span {
  color: #c21531;
}
header .navbar a {
  color: white;
  font-size: 15px;
  font-family: ramus;
  padding: 8px 7px;
}
header .navbar a:hover {
  color: #c21531;
}
header .icon {
  display: flex;
  flex-direction: row;
}
header .icon a i {
  font-size: 30px;
  padding: 6px;
  font-family: caghen;
  color: #cab2ae;
}
header .icon .cart {
  display: flex;
  justify-content: space-a ;
  align-items: center;
  padding: 0 5px;
  margin: 0 5px 0 0;
  border-radius: 10px;
  border: 3px solid #c21531;
  flex-direction: row;
}
header .icon .cart p {
  font-size: 20px;
  font-family: caghen;
  color: #cab2ae;
}
header .icon a i:hover {
  color: #c21531;
}
header #toggler {
  display: none;
}
label {
  display: none;
}
header .bx-menu {
  font-size: 40px;
  color: #cab2ae;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  margin: 5px;
  cursor: pointer;
  /* border: 1px solid rgba(0, 0, 0, 0.303); */
  display: none;
}
/* end nav sec */
.cart {
  padding: 70px 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* text-align: center; */
}
.cart-content{
  display: flex;
  justify-content: center;
  align-items: center;
}
.cart-box {
  display: flex;
  justify-content: space-around;
  background-color: #242635;
  align-items: center;
  margin: 12px;
  flex-direction: row;
  flex-wrap: wrap;
  /* margin-left: -5rem; */
  padding: 10px;
  border-radius: 10px;
}
.item-img {
  flex: 1 1 200px;
  width: 200px;
  overflow: hidden;
  background: white;
  height: 120px;
  border-radius: 10px;
  padding: 10px;
}
img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.detail-box{
  flex: 1 1 200px;
    display: grid;
    row-gap: .5rem;
    padding: 20px;
}
.item-title{
    color: #cab2ae;
    font-size: 20px;
    font-family: ramus;
    text-transform: uppercase;
}
.item-price{
    color: #cab2ae;
    font-family: ramus;
    font-size: 17px;
}
.remove-item{
  border: none;
  padding: 5px 0;
  background: #c21531;
  color: #cab2ae;
  border-radius: 4px;
  font-family: ramus;
  font-size: 17px;
  cursor: pointer;
}
.remove-item:hover{
  background: #cab2ae;
  color: #242635;
}
.total{
  padding: 10px;
  width: 500px;
  border-top: 2px solid #242635;
}
.total-title{
  font-size: 25px;
  font-family: caghen;
  color: #242635;
}
.total-price{
  font-size: 20px;
  font-family: ramus;
  padding: 10px;
}
.btn-buy{
  padding: 15px 20px;
  background: #242635;
  color: #c21531;
  font-family: caghen;
  border-radius: 10px;
  font-size: 30px;
  cursor: pointer;
  border: none;
}
.btn-buy:hover{
  color: #242635;
  background: #c21531;
}









@media (max-width: 1000px) {
  label {
    display: block;
  }
  header .bx-menu {
    display: block;
  }
  header .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: #cab2ae;
    border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    transition: 0.5s ease;
  }
  header #toggler:checked ~ .navbar {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  header .navbar a {
    margin: 10px;
    padding: 5px;
    background: #242635;
    font-size: 20px;
    border: 1rem solid rgba(0, 0, 0, 0.108);
    display: block;
    color: #c21531;
  }
  header .logo {
    font-size: 45px;
  }
  header .icon a i {
    font-size: 28px;
    padding: 4px;
  }
}
@media (max-width: 400px) {
  header .logo {
    font-size: 35px;
  }
  header .icon a i {
    font-size: 28px;
    padding: 2px;
  }
}
