@font-face {
    font-family: ramus;
    src: url(ramus-font/RamusMedium-ALX07.ttf);
}
@font-face {
    font-family: caghen;
    src: url(caghen-serif-font-1669857632-0/caghen-demo.ttf);
}

*{
    margin: 0; padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
.btn{
    width: fit-content;
    padding: 15px 20px;
    margin: 10px;
    background-color: #00BDC9;
    font-size: 20px;
    font-family: ramus;
    border-radius: 15px;
    font-weight: bold;
    color: white;
}
.btn:hover{
    box-shadow: 4px 8px 16px rgba(0, 0, 0, 0.693);
}
.btn:active{
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.693);
}
/* nav sec */
header{
    width: 100%;
    height: 70px;
    background: #134982;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.64);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0; left: 0; right: 0;
    z-index: 5000;
}
header .logo{
    color: white;
    font-family: caghen;
    font-size: 60px;
    padding: 8px 0 8px 5px;
}
header .logo span{
    color: #00BDC9;
}
header .navbar a{
    color: white;
    font-size: 25px;
    font-family: ramus;
    padding: 20px 7px;
}
header .navbar a:hover{
    color: #00BDC9;
}
header .icon a i{
    font-size: 40px;
    padding: 7px;
    font-family: caghen;
    color: white;
}
header .icon a i:hover{
    color: #00BDC9;
}
header #toggler{
    display: none;
}
label{
    display: none;
}
header .bx-menu{
    font-size: 40px;
    color: whitesmoke;
    border-radius: .5rem;
    padding: .5rem 1rem;
    margin: 5px;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.303);
    display: none;
}   
/* end nav sec */

/* home sec */
.home{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 75vh;
    -webkit-animation: color-change-2x 2s linear infinite alternate both;
	        animation: color-change-2x 2s linear infinite alternate both;
}
.home .content{
    margin: 20px 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.home .content h1{
    font-family: caghen;
    font-size: 60px;
    margin-top: 20px;
}
.home .content button{
    padding: 15px 20px;
    font-family: ramus;
    font-size: 20px;
    margin: 10px;
    border-radius: 12px;
    background: rgb(0, 23, 82);
    border: none;
    color: white;
}
.home .content button:hover{
    box-shadow: 4px 8px 16px rgba(0, 0, 0, 0.69);
}
.home .content button:active{
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.69);
}



 @-webkit-keyframes color-change-2x {
    0% {
      background: #19dcea;
    }
    100% {
      background: #0f4676;
    }
  }
  @keyframes color-change-2x {
    0% {
      background: #19dcea;
    }
    100% {
      background: #0f4676;
    }
  }
  
/* end home sec */

/* product sec */
.products{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    padding: 50px 0;
}
.trending{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.trending h1{
    font-family: caghen;
    font-size: 40px;
    border-bottom: 3px solid #0f4676;
    width: fit-content;
    padding: 16px;
}
.wrapper .carousel{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1.4rem;
    padding: 40px 10px;
}
.product{
    flex: 1 1 300px;
    /* display: flex; */
    background: #0f4676;
    box-shadow: 9px 18px 32px rgba(0, 0, 0, 0.686);
    flex-direction: column;
    height: 400px;
    text-align: center;
    border-radius: 3px;
}
.product img{
    width: 100%;
    height: 60%;
    object-fit: cover;
}
.product .des h2{
    font-family: caghen;
    font-size: 27px;
    padding: 5px;
}
.product .des p{
    font-family: ramus;
    font-size: 17px;
    padding: 5px;
}
.product .des button{
    font-size: 15px;
    font-weight: bold;
    padding: 10px 15px;
    border: none;
    border-radius: 12px;
    margin: 15px;
    font-family: ramus;
    cursor: pointer;
}
.product .des button:hover{
    background: #00BDC9;
    color: white;
}
.latest{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #00BDC9;
}
.latest h1{
    font-family: caghen;
    font-size: 40px;
    border-bottom: 3px solid #0f4676;
    width: fit-content;
    padding: 10px;
}
.latest .items{
    /* display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: 300px;
    gap: 1.5rem; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 25px 0;
}
.latest .items .item{
    flex: 1 1 300px;
    height: 300px;
    margin: 10px;
    background: #134982;
    box-shadow: 7px 14px 28px rgba(0, 0, 0, 0.747);
}
.item img{
    width: 100%;
    height: 60%;
    object-fit: cover;
}
/* end product sec */









@media (max-width: 860px){
    label{
        display: block;
    }
    header .bx-menu{
        display: block;
    }
    header .navbar{
        position: absolute;
        top: 100%; left: 0; right: 0;
        background: #eee;
        border-top: .1rem solid rgba(0, 0, 0, 0.1);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        transition: .5s ease;
    }
    header #toggler:checked ~ .navbar{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
    header .navbar a{
        margin: 10px;
        padding: 5px;
        background: #fff;
        border: 1rem solid rgba(0, 0, 0, 0.108);
        display: block;
        color: black;
    }
    header .logo{
        font-size: 45px;
    }
    header .icon a i{
        font-size: 28px;
        padding: 4px;
    }
} 
@media (max-width: 400px){
    header .logo{
        font-size: 35px;
    }
    header .icon a i{
        font-size: 28px;
        padding: 2px;
    }
}