@font-face {
    font-family: ramus;
    src: url(ramus-font/RamusMedium-ALX07.ttf);
}
@font-face {
    font-family: caghen;
    src: url(caghen-serif-font-1669857632-0/caghen-demo.ttf);
}

*{
    margin: 0; padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
.btn{
    width: fit-content;
    padding: 15px 20px;
    margin: 10px;
    background-color: #00BDC9;
    font-size: 20px;
    font-family: ramus;
    border-radius: 15px;
    font-weight: bold;
    color: white;
}
.btn:hover{
    box-shadow: 4px 8px 16px rgba(0, 0, 0, 0.693);
}
.btn:active{
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.693);
}
/* nav sec */
header{
    width: 100%;
    height: 70px;
    background: #134982;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.64);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0; left: 0; right: 0;
    z-index: 5000;
}
header .logo{
    color: white;
    font-family: caghen;
    font-size: 60px;
    padding: 8px 0 8px 5px;
}
header .logo span{
    color: #00BDC9;
}
header .navbar a{
    color: white;
    font-size: 25px;
    font-family: ramus;
    padding: 20px 7px;
}
header .navbar a:hover{
    color: #00BDC9;
}
header .icon a i{
    font-size: 40px;
    padding: 7px;
    font-family: caghen;
    color: white;
}
header .icon a i:hover{
    color: #00BDC9;
}
header #toggler{
    display: none;
}
.cart-file{
    position: absolute;
    top: 0; right: 0;
    background: black;
    color: white;
    width:20px; height: 20px;
    border-radius: 50%;
    text-align: center;
    font-family: ramus;
    font-weight: bold;
    visibility: hidden;
}
.cart-tag{
    position: relative;
    display: inline-block;
}
label{
    display: none;
}
header .bx-menu{
    font-size: 40px;
    color: whitesmoke;
    border-radius: .5rem;
    padding: .5rem 1rem;
    margin: 5px;
    cursor: pointer;
    /* border: 1px solid rgba(0, 0, 0, 0.303); */
    display: none;
}   
/* end nav sec */

/* home sec */
.home{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 70vh;
    -webkit-animation: color-change-2x 2s linear infinite alternate both;
	        animation: color-change-2x 2s linear infinite alternate both;
}
.home .content{
    margin: 20px 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
/* .hidden{
    opacity: 1;
    filter: blur(4px);
    transform: translateY(-100px);
    transition: all 1s;
}
.show{
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
} */
.home .content h1{
    padding: 20px;
    font-family: caghen;
    font-size: 60px;
    margin-top: 20px;
}
.home .content button{
    padding: 15px 20px;
    font-family: ramus;
    font-size: 20px;
    margin: 10px;
    border-radius: 12px;
    background: rgb(0, 23, 82);
    border: none;
    color: white;
}
.home .content button:hover{
    box-shadow: 4px 8px 16px rgba(0, 0, 0, 0.69);
}
.home .content button:active{
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.69);
}



 @-webkit-keyframes color-change-2x {
    0% {
      background: #19dcea;
    }
    100% {
      background: #0f4676;
    }
  }
  @keyframes color-change-2x {
    0% {
      background: #19dcea;
    }
    100% {
      background: #0f4676;
    }
  }
  
/* end home sec */

/* product sec */
.products{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}
.trending{
    padding: 60px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.trending h1{
    font-family: caghen;
    font-size: 40px;
    border-bottom: 3px solid #0f4676;
    width: fit-content;
    padding: 16px;
}
.wrapper .carousel{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1.4rem;
    padding: 40px 10px;
}
.product{
    flex: 1 1 300px;
    /* display: flex; */
    background: #0f4676;
    box-shadow: 9px 18px 32px rgba(0, 0, 0, 0.686);
    flex-direction: column;
    height: 400px;
    text-align: center;
    border-radius: 3px;
}
.product img{
    width: 100%;
    height: 60%;
    object-fit: cover;
}
.product .des h2{
    font-family: caghen;
    font-size: 27px;
    padding: 5px;
}
.product .des p{
    font-family: ramus;
    font-size: 17px;
    padding: 5px;
}
.product .des button{
    font-size: 15px;
    font-weight: bold;
    padding: 10px 15px;
    border: none;
    border-radius: 12px;
    margin: 15px;
    font-family: ramus;
    cursor: pointer;
}
.product .des button:hover{
    background: #00BDC9;
    color: white;
}
.latest{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #00BDC9;
}
.wave {
    /* position: absolute; */
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.wave svg {
    position: relative;
    display: block;
    width: calc(118% + 1.3px);
    height: 94px;
}

.wave .shape-fill {
    fill: #FFFFFF;
}
.latest h1{
    font-family: caghen;
    font-size: 40px;
    border-bottom: 3px solid #0f4676;
    width: fit-content;
    padding: 30px;
}
.latest .items{
    /* display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: 300px;
    gap: 1.5rem; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 25px 0;
}
.latest .items .item{
    background: #fff;
    row-gap: 1rem;
    border-radius: 4px;
    flex: 1 1 300px;
    height: 300px;
    margin: 10px;
    box-shadow: 7px 14px 28px rgba(0, 0, 0, 0.747);
}
.items .item img{
    width: 100%;
    height: 75%;
    object-fit: contain;
}
.items .item .details h2{
    width: fit-content;
    font-size: 20px;
    font-family: caghen;
    color: #000000;
    padding: 4px;
    margin: 12px 0 10px 10px;
    letter-spacing: 1.5px;
}
.items .item .details p{
    font-size: 18px;
    font-family: ramus;
    padding: 6px;
    letter-spacing: 1px;
    color: rgb(0, 0, 0);
    margin: 10px;
    width: fit-content;
}
.items .item .details span{
    font-size: 16px;
    font-family: ramus;
    padding: 6px;
    letter-spacing: 1px;
    color: rgb(45, 44, 44);
    margin: 10px;
    width: fit-content;
    display: block;
    text-decoration: line-through;
}
.items .item .details a{
    float: right;
    margin: -45px 6px 0 0;
    padding: 18px 40px;
    border-radius: 15px;
    background: #00BDC9;
    color: black;
    font-size: 16px;
    font-family: ramus;
    letter-spacing: 1px;
}
.items .item .details a:hover{
    color: white;
    background: #0f4676;
}
/* end product sec */
/* offers sec */
.offers{
    padding: 60px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.offers .description{
    margin: auto;
    text-align: center;
    /* width: 700px; */
}
.offers .description h1{
    font-size: 45px;
    font-family: caghen;
    padding: 12px;
    border-bottom: 2px solid #0f4676;
}
.offers .description h1 span{
    color: #00BDC9;
}
.offers .description p{
    font-size: 22px;
    font-family: ramus;
    letter-spacing: 1px;
    padding: 7px;
}
.offers .off{
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
}
.offers .off .offer{
    flex: 1 1 400px;
    border: 2px solid  #0f4676;
    /* height: 200px; */
    width: 280px;
    margin: 10px;
    padding: 12px;
    text-align: center;
}
.offers .off .offer i{
    font-size: 30px;
    color: #0f4676;
    padding: 4px;
}
.offers .off .offer p{
    font-size: 22px;
    color: #0f4676;
    padding: 4px;
    font-family: ramus;
    padding: 5px;
    letter-spacing: .6px;
}
/* end offers sec */
/* contact sec */
.contact{
    background: #134982;
    /* height: 100vh; */
    padding: 70px 0 0 0;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
}
.contact h1{
    font-family: caghen;
    font-size: 50px;
    color: #00BDC9;
    padding: 4px;
}
.contact h3{
    font-family: ramus;
    font-size: 30px;
    color: #00BDC9;
    padding: 7px;
    border-bottom: 2px solid #ffffff;
}
.contact .info{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.contact .info .icons{
    padding: 15px;
}
.contact .info .icons i{
    margin: 10px 0;
    padding: 10px;
    font-size: 40px;
    color: #00BDC9;
    cursor: pointer;
    transition: .6s ease;
}
.contact .info .icons i:hover{
    transform: scale(1.2);
}
.contact .info .location{
    padding: 0 20px;
}
.contact .info .location h2{
    font-size: 35px;
    font-family: caghen;
    color: #4ceffb;
}
.contact .info .location p{
    font-size: 25px;
    color: #76ebf4;
    font-family: ramus;
    padding: 4px 30px;
    margin: auto;
}
/* end contact sec */









@media (max-width: 860px){
    .contact h1{
        font-size: 35px;
        margin: auto;
    }
    .contact h3{
        font-size: 25px;
        margin: auto;
    }
    .off{
        flex-wrap: wrap;
    }
    .cart-file{
        position: absolute;
        top: 0; right: 0;
        background: black;
        color: white;
        width: 15px; height: 15px;
        border-radius: 50%;
        font-size: 10px;
        text-align: center;
        font-family: ramus;
        /* font-weight: bold; */
        visibility: hidden;
    }
    .latest h1{
        padding: 15px;
    }
    .home .content h1{
        font-size: 50px;
        margin: auto;
    }
    label{
        display: block;
    }
    header .bx-menu{
        display: block;
    }
    header .navbar{
        position: absolute;
        top: 100%; left: 0; right: 0;
        background: #eee;
        border-top: .1rem solid rgba(0, 0, 0, 0.1);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        transition: .5s ease;
    }
    header #toggler:checked ~ .navbar{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
    header .navbar a{
        margin: 10px;
        padding: 5px;
        background: #fff;
        border: 1rem solid rgba(0, 0, 0, 0.108);
        display: block;
        color: black;
    }
    header .logo{
        font-size: 45px;
    }
    header .icon a i{
        font-size: 28px;
        padding: 4px;
    }
} 
@media (max-width: 400px){
    header .logo{
        font-size: 35px;
    }
    header .icon a i{
        font-size: 28px;
        padding: 2px;
    }
}
