@font-face {
    font-family: ramus;
    src: url(ramus-font/RamusMedium-ALX07.ttf);
}
@font-face {
    font-family: caghen;
    src: url(caghen-serif-font-1669857632-0/caghen-demo.ttf);
}

*{
    margin: 0; padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
/* nav sec */
header{
    width: 100%;
    height: 70px;
    background: #134982;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.64);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0; left: 0; right: 0;
    z-index: 5000;
}
header .logo{
    color: white;
    font-family: caghen;
    font-size: 60px;
    padding: 8px 0 8px 5px;
}
header .logo span{
    color: #00BDC9;
}
header .navbar a{
    color: white;
    font-size: 25px;
    font-family: ramus;
    padding: 20px 7px;
}
header .navbar a:hover{
    color: #00BDC9;
}
header .icon a i{
    font-size: 40px;
    padding: 7px;
    font-family: caghen;
    color: white;
}
header .icon a i:hover{
    color: #00BDC9;
}
header #toggler{
    display: none;
}
label{
    display: none;
}
header .bx-menu{
    font-size: 40px;
    color: whitesmoke;
    border-radius: .5rem;
    padding: .5rem 1rem;
    margin: 5px;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.303);
    display: none;
}
/* end nav sec */


/* product sec */
.product {
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px;
    padding: 80px 0;
}

.img {
    flex: 1 1 400px;
    height: 300px;
    width: 400px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.76);
}

.img img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.details {
    width: 400px;
    flex: 1 1 400px;
    background: rgba(127, 255, 212, 0.581);
    box-shadow: 3px 6px 18px rgb(0, 0, 0);
}
.details h1{
    font-family: caghen;
    font-size: 50px;
    padding: 10px;
}
.details h3{
    font-family: ramus;
    font-size: 20px;
    padding: 15px;
}
.details p{
    font-family: ramus;
    padding: 10px;
    font-size: 26px;
}
.details span{
    display: inline;
    font-family: ramus;
    padding: 8px;
    text-decoration: line-through;
    margin-top: -10px;
}
.details .add{
    width: fit-content;
    padding: 8px 70px;
    border-radius: 10px;
    background: #134982;
    margin: 10px 0 10px 50px;
    display: block;
    color: white;
    font-size: 20px;
    font-family: ramus;
    border: none;
    cursor: pointer;
}
.details .add:hover{
    background: #00BDC9;
    color: black;
}

.ratings{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    margin: 150px 0 30px 0;
    padding: 10px;
    background: #444;
}
.ratings .stars{
    display: inline;
}
.ratings .stars .bxs-star{
    font-size: 30px;
    color: gold;
}
.ratings .stars .bx-star{
    font-size: 30px;
    color: gold;
}
.ratings .stars .bxs-star-half{
    font-size: 30px;
    color: gold;
}
.ratings .stars p{
    font-size: 15px;
    color: white;
    font-weight: bold;
    letter-spacing: 1px;
}
.ratings .share i{
    font-size: 40px;
    color: goldenrod;
    padding: 5px 13px;
    cursor: pointer;
}
.ratings .share i:hover{
    color: red;
    transform: scale(1.15);
    transition: .3s ease;
}
.column{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/* end product sec */
.cart-file{
    position: absolute;
    top: 0; right: 0;
    background: black;
    color: white;
    width:20px; height: 20px;
    border-radius: 50%;
    text-align: center;
    font-family: ramus;
    font-weight: bold;
    visibility: hidden;
}
.cart-tag{
    position: relative;
    display: inline-block;
}








@media (max-width: 860px){
    .cart-file{
        position: absolute;
        top: 0; right: 0;
        background: black;
        color: white;
        width: 15px; height: 15px;
        border-radius: 50%;
        font-size: 10px;
        text-align: center;
        font-family: ramus;
        /* font-weight: bold; */
        visibility: hidden;
    }
    .latest h1{
        padding: 15px;
    }
    .home .content h1{
        font-size: 50px;
        margin: auto;
    }
    label{
        display: none;
    }
    header .bx-menu{
        display: block;
    }
    header .navbar{
        position: absolute;
        top: 100%; left: 0; right: 0;
        background: #eee;
        border-top: .1rem solid rgba(0, 0, 0, 0.1);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        transition: .5s ease;
    }
    header #toggler:checked ~ .navbar{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
    header .navbar a{
        margin: 10px;
        padding: 5px;
        background: #fff;
        border: 1rem solid rgba(0, 0, 0, 0.108);
        display: block;
        color: black;
    }
    header .logo{
        font-size: 45px;
    }
    header .icon a i{
        font-size: 28px;
        padding: 4px;
    }
}
@media (max-width: 900px){
    .ratings{
        display: none;
    }
}

@media (max-width: 400px){
    header .logo{
        font-size: 35px;
    }
    header .icon a i{
        font-size: 28px;
        padding: 2px;
    }
}